*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    

}
html {
    scroll-behavior: smooth;
}

body{
    background: black;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(110 110 110 / 70%),rgb(0 0 0 / 70%)),url(recourse/head.png);
    background-position: center;
    background-size: cover;
    position: relative;

}
.logo{
    width: 175px;
}


/* navigasi */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    

}    
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #64CCC5;
    display: block;
    margin: auto;
    transition: 0.5s;
}    
.nav-links ul li:hover::after{
    width: 100%;
}
/*animasi navigasi*/
nav.sticky{
    transition: 0.6s;
    padding: 0.5% 6%;
    background-color: #04364A;
    z-index: 100;
}
/* bagian text awal website */
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 42px;
    font-weight: bold;
}
.text-box p{
    margin: 30px 0 40px;
    font-size: 15px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #64CCC5;
    background: #64CCC5;
    transition: 1s;
}

nav .fa-solid{
    display: none;
}

/* bagiantentang */
.gabungan-tentang{
    background: linear-gradient(to bottom,black 20%, #04364A);
}
.tentang {
    padding: 100px 200px 50px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.tentang .about{
    transition: 0.6s;
}
.gambar-tentang{
    width: 500px;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px 20px 20px 20px;
}
.tentang-text-box h1{
    font-weight: bolder;
    font-size: 32px;
}
.tentang-text-box p{
    font-size: 15px;
    padding-top: 20px;
}
.tentang-text-box{
    /* background: black; */
    padding: 53px;
    color: #ffffff;  
    }


/* bagian pilihan */
.row {
    display: flex;
    gap: 50px;
}
.pilihan{
    margin: auto;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
.pilihan-col{
    padding-top: 40px;
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
  
    
}
.pilihan-col img{
    width: 100%;
    border-radius: 20px;
    
}

.pilihan-col h3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pilihan-col p{
    padding-bottom: 15px;
    font-size: medium;
}
.pilihan-col .hero-btn{
    padding: 6px 24px;

}
.pilihan-col h3,
.pilihan-col p{
    color: #ffffff;
    
}
.pilihan h1{
    font-size: 31px;
}
.pilihan h1,
.pilihan p{
    color: #ffffff;
}

/* budaya */
.budaya{
    width: 100%;
    text-align: center;
    height: 100vh;}
.swiper{
    width: 100%;
    height: 100%;
    background-color: #262b32;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    
    
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev{
    display: flex;
    flex-direction: column;
    transform: rotateZ(-90deg);
    margin-left: 5rem;
}

.swiper .swiper-button-next{
    transform: rotateZ(90deg);
    margin-right: 5rem;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after{
    content: "" ;
}
.swiper .swiper-button-next i,
.swiper .swiper-button-prev i{
    font-size: 4rem;
    -webkit-text-stroke: 0.1rem white;
    color: transparent;
}
.swiper .swiper-button-next span,
.swiper .swiper-button-prev span{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: -1rem;
    color: white;
}
.swiper .swiper-button-next span:hover,
.swiper .swiper-button-prev span:hover {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: -0.8rem;
    color: #08c5ef;
}
.swiper .swiper-button-next i:hover,
.swiper .swiper-button-prev i:hover{
    font-size: 4.2rem;
    -webkit-text-stroke: 0.5rem #08c5ef;
    color: transparent;
    transition: 0.6s;
}

span.swiper-pagination-bullet{
    width: 5rem;
    height: 5rem;
    opacity: 1;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    margin-right: 2rem !important;
}
span.swiper-pagination-bullet:nth-child(1){
    background: url(recourse/budaya_pedang_pedangan.webp) center no-repeat;
    background-size: cover;
}
span.swiper-pagination-bullet:nth-child(2){
    background: url(recourse/budaya_perang_api.webp) center no-repeat;
    background-size: cover;
}
span.swiper-pagination-bullet:nth-child(3){
    background: url(recourse/budaya_daratan.webp) center no-repeat;
    background-size: cover;
}
span.swiper-pagination-bullet:nth-child(4){
    background: url(recourse/budaya_gered_pandan.webp) center no-repeat;
    background-size: cover;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    border: 0.2rem solid #64CCC5;
}

.content{
    position: absolute;
    padding-top: 40px;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30% ;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
    text-align: left;
}
.content .author{
    font-weight: bolder;
    letter-spacing: 2px;
}
.content .title,
.content .topic{
    font-weight: bold;
    font-size: 4em;
    line-height: 1.3em;
}
.content .topic{
    color: #08c5ef;
}
.content .buttons{
    padding-top: 20px;
}
.content .des{
    padding-top: 10px;
    padding-bottom: 10px;
}


/*tampilan HP*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .text-box p{
        font-size: 15px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #64CCC5;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }


    /* bagiantentang */
    .gambar-tentang{
        width: 300px;
    }
    .tentang {
        padding: 80px 50px 50px 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .tentang-text-box h1{
        font-weight: bolder;
        font-size: 32px;
        text-align: center;
        padding-top: 20px;
    }
    .tentang-text-box p{
        font-size: 16px;
        text-align: center;
        padding-top: 20px;
    }
    .tentang-text-box{
    border-radius: 20px;    
    border: solid 1px #ffffff;
    border-radius: 20px 20px 20px 20px;  
    }

    .row {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }
}